body{
    background: #292929;
}

h1{
    font-size: 50px;
    color: white;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.bod{
    padding: 10px;
    max-width: 700px;
    margin: auto 20%;
    
    font-size: 25px;
    color: white;
    font-family: 'Open Sans',sans-serif;
}


.division {
    border: 0;
    height: 1px;
    margin: 30px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#one{
    margin-right: 5px;
    float: left;
}
.icon
{
    margin: 10px;
    
}
.twitter-i
{
    position: relative;
    display: inline-block;
}

.twitter-i .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.twitter-i:hover .img-top {
    display: inline;
}
.github-i:hover
{
    background: black;
}
.linkedin-i:hover{
    background: #0077B5;
}

.to-center
{
    text-align: center;
}
.contact-text
{
    margin-top:60px;
    margin-bottom: 1px;
}
